.swiper-container {
    padding-bottom: 215px;
    width: 100%;
  }
  
  .swiper-slide {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .swiper-image {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 60% !important; 
    transform: translateY(-50%);
    color: rgb(185, 10, 10);
  }
  .swiper-button-prev{
    margin-left: 55px;
  }
  .swiper-button-next{
    margin-right: 55px;
  }